* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}

.weatherInfo-container {
  padding-top: 100px;
}

.days-container {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: solid 1px black;
  align-self: center;
  width: fit-content;
}


.day {
  border: solid 1px black;
  padding: 10px;
}

.temps {
  text-align: center;
}

.day-container:hover {
  background-color: #f2f2f2;
}




